xsd/ShipmentLine.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="http://www.spscommerce.com/RSX"
	xmlns:spsxs="http://www.spscommerce.com/RSX/SPSSchemaDefinition" targetNamespace="http://www.spscommerce.com/RSX" elementFormDefault="qualified" attributeFormDefault="unqualified" version="7.7.0">
	<xs:element name="ShipmentLine" 
		xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShipQty" type="xs:decimal" minOccurs="0">
				</xs:element>
				<xs:element name="ShipQtyUOM" type="xs:string" minOccurs="0">
				</xs:element>
				<xs:element name="CumulativeQty" type="xs:decimal" minOccurs="0"/>
				<xs:element name="ShipDate" type="xs:date" minOccurs="0">
				</xs:element>
				<xs:element name="QtyLeftToReceive" type="xs:decimal" minOccurs="0">
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
